.form {
  position: absolute;
  background-color: yellow;
  top: 100px;
  margin-left: 700px;
  text-align: center;
  width: 400px;
  height: 600px;
  padding: 50px;
  border-radius: 20px;

    h2 {
        margin-right: 30px;
        font-size: 30px;
        margin-bottom: 25px;
    }

    &__formcontrol {
        width: 350px;
        margin-bottom: 35px;

        label {
            display: block;
            font-size: 20px;
            margin-bottom: 15px;
            font-weight: 600;
        }

        button {
            font-size: 17px;
        }

        .errorm {
            color: red;
        }
    }
}
