*{
  margin: 0;
  padding:0;
}
.showPokemons {
  &__navbar{
      width: 100%;
      height: 50px;
      color: white;
      background-color: #3AB09E;
      margin-bottom: 10px;
     h1{
      font-weight: 800;
      font-size: 30px;
      margin-left: 20px;
      padding-top: 10px;
     }

  }
  &__details{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
 div,li{
   display: flex;
   justify-content: center;
   padding: 10px;
   h3{
    margin: 0px;
    font-size: 16px;
   }
 }
 ol{
    list-style-type: decimal;
  }
  li{ 
    padding: 0;
  }
  }
  span{
  button{
    background-color: #3AB09E;
    margin-top: 20px;
    width: 170px;
    &:hover{
      background-color: #3AB09E;
    }
  }
}
}
img{
  height:120px;
  width:120px;
}

.detail{
margin: auto;
}