*{
    margin: 0;
    padding:0;
    // background-color: ;
}
.showPokemons {
    &__navbar{
        width: 100%;
        height: 50px;
        color: white;
        background-color: #3AB09E;
        margin-bottom: 10px;
       h1{
        font-weight: 800;
        font-size: 30px;
        margin-left: 20px;
        padding-top: 10px;
       }
    }
    &__functionality{
    input{
    outline: none;
    padding: 10px;
    border: 1px solid rgb(208, 211, 217);
    border-radius: 6px;
    background: 0px 0px / 7% no-repeat content-box padding-box rgb(255, 255, 255);
    width: 10%;
    margin: 15px;
    margin-left: 80%;
    color: rgb(26, 26, 26) !important;
   
    }
}
    &__icon{
        button{
        min-width: 20px;
        background-color: #3AB09E;
        &:hover{
            background-color: #3AB09E;
        }
        }
    }
  &__gridLayout {
      display: flex;
      flex-wrap: wrap;

      p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-top: 10px;
      }

      span {
          font-weight: 400;
      }
  }
}